@import "foundation-override";
@import "foundation";


body {
    background-color: #000500;
}

.main {
    margin-top: 50px;
}


#logo {
    background-color: #000500;
    padding-top: 40px;
    padding-bottom: 16px;
}


/* Lyrics */

.albumheader {
   .author {
   }
   .title {
   }
}


.album {

}


.song {

}


/* Discography */


