@import "foundation-override";
@import "foundation";

/* General */

.flag {
   padding-top: 10px;
   padding-left: 30px;
//   display: none;
}


a {
    color: white;
}

h5 {
    margin-top: 30px;
    font-size: $baseFontSize + 1px;
    font-weight: bold;
    color: white;
}

h6.subheader {
    color: #dddddd;
}


h6 {
    color: white;
    font-weight: bold;
}


body {
    background-color: #000500;
}

/* Logo */

#logo {
    background-color: #000500;
    padding-top: 40px;
    padding-bottom: 16px;
    font-weight: bold;
    display: none;
}


.newlogo {
  letter-spacing: 2px;
  font-weight: 700;
}

#banner {
  min-width: 1000px;
  float: right;
  display: block;
}


div.social {
  display: none;
  margin-top: -60px;
  ul {
    margin-right: 80px;
    li {
      display: inline;
      padding-left: 20px;
      font-size: 28px;
      .itunes {
        font-size: 70%;
        padding-left: 10px;
      }
    }
  }
}




/* Menu */

body>header {
   margin-top: 20px;
}


/* Set focus, hover and active menu color */
.top-bar ul > li:not(.name):hover a, 
.top-bar ul > li:not(.name).active a,
.top-bar ul > li:not(.name):focus a {
    color: #7290B4;
}


/* No left padding on first li */
.top-bar ul > li:first-child a:not(.button) {
    padding: 0 $topBarHeight / 2 0 0;
}


/* Larger padding */
.top-bar ul > li a:not(.button) {
    padding: 0 $topBarHeight / 2;
}


.main {
    margin: 50px 0;
}




/* Lyrics */

.albumhead {
    margin-top: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    .artist, .title {
        font-weight: bold;
    }
}


.song {
    margin-bottom: 40px;
}


/* Discography */

.discography {
    padding-top: 10px;
    padding-bottom: 40px;
    li {
        list-style-type: none;
    }
    span.head {
        font-style: italic;
    }
}

.discinfo {
    .artist, .title {
        font-weight: bold;
    }
}



/* Calendar */

.month {
    margin-top: 20px;
    h6 {
        padding-bottom: 4px;
        border-bottom: 1px solid white;
        margin-bottom: 2px;
    }
    ul {
       padding-bottom: 30px;
    }

    li {
        padding: 5px 10px;
        border-bottom: 1px solid white;        
        list-style-type: none;
    }

    span {
        display: inline-block;
    }

    span.day {
        width: 4%;
    }

    span.time {
        width: 6%;
    }
}


/* Gallery */
   

.videolabel {
//    background-color: lightgray;
    color: white;
    font-size: 1.3em;
    margin-bottom: 40px;
}


/* Additional links

  http://www.kasperbai.dk/
  Rasmus Glendorf

*/

