@import "foundation-override";
@import "foundation";

body {
    background-color: #000500;
}


#logo {
    background-color: #000500;
    padding-top: 40px;
    padding-bottom: 16px;
}


.main {
    margin: 50px 0;
}



/* Lyrics */

.albumheader {
   .author {
   }
   .title {
   }
}

.album {

}


.song {

}


/* Discography */


