/* CSS Document */

BODY
{
	MARGIN: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
   	font-size: 11px;
   	color: #333333;
	BACKGROUND-COLOR: #000500;
	scrollbar-face-color: #ffffff;
}

td 
{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
   	font-size: 11px;
   	color: #ffffff;
}

a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: underline;
}

a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #6699cc;
	text-decoration: underline;
}

img.leftspace {
	text-align: right;
	margin-left: 40px;
	margin-bottom:40px;
}
