---
layout: page
---

<h5>Aggerbæk Orkester</h5>

<div class="home">
  <div class="cdbaby">
    <div style="max-width:600px;max-height:785px;min-width:300px;">
	    <div style="position: relative;height: 0;overflow: hidden;padding-bottom:100%; padding-top:200px;"><iframe name="album" style="position:absolute;top:0px;left:0px;width:100%;height:100%;border:0px;" src="http://widget.cdbaby.com/5fe7c0a2-a040-4b5a-9045-1627d2e9e611/album/light/opaque"></iframe></div>
    </div>
<!--
	<p />
      <img src="images/covers/heartbeat2-cover450.jpg"
         alt="Benjamin Aggerb&aelig;k - Heartbeat cover" class="bigcover right"/>
-->
  </div>
  <div class="home-messages">

{{ content }}
  </div>
</div>
