
        <img id="banner" src="{{ site.baseurl }}/assets/images/aggerbaek.jpg" alt="Aggerb&aelig;k" width="1000" height="251" border="0" href="{{site.baseurl}}/index.html" />
        <div class="social right">
          <dl class="sub-nav">
            <dd><a href="https://www.facebook.com/pages/Aggerb%C3%A6k/16548534356"><i class="fa fa-facebook-square"></i></a></dd>
            <dd><a href="http://www.youtube.com/user/BenjaminAggerbaek"><i class="fa fa-youtube-square"></i></a></dd>
            <dd><a href="https://itunes.apple.com/us/artist/aggerb-k-kvintet/id282913483"><i class="fa fa-apple"></i><span class="itunes">iTunes</span></a></dd>
          </dl>
