<!--
  <script src="/javascripts/foundation/jquery.foundation.magellan.js"></script>
  <script src="/javascripts/foundation/jquery.foundation.reveal.js"></script>
  <script src="/javascripts/foundation/jquery.foundation.clearing.js"></script>
-->
  <script src="/javascripts/foundation/jquery.foundation.accordion.js"></script>
  <script src="/javascripts/foundation/jquery.foundation.forms.js"></script>
  <script src="/javascripts/foundation/jquery.foundation.tooltips.js"></script>

  <!-- Application Javascript, safe to override -->
  <script src="/javascripts/foundation/app.js"></script>
