<header>
  <!-- top navigation bar -->
  <div class="container">
    <div class="header-logo">
	      <h1 class="newlogo"><a href="/index.html"><span class="newlogo">AGGERBÆK</span></a></h1>
    </div>
   	<nav>
	      {% include menu.html %}
	  </nav>
		{% if page.lang == 'da' %}
		<a href="en/index.html" title="Engelsk version"><img
		   class="flag" src="/images/gb.png"></a></li>
		{% else %}
    <a href="/index.html" title="Danish version"><img
		   class="flag" src="/images/dk.png"></a></li>
		{% endif %}

	</div>

  <!-- hero image -->
  <div class="container">
    {% include banner.html %}
  </div>
</header>
