<header>
  <!-- top navigation bar -->
  <div class="container">
    <nav class="top-menu">
      <ul class="left">
        <li class="name">
	        <h1 class="newlogo"><a href="{{ site.baseurl }}/index.html"><span class="newlogo">AGGERBÆK</span></a></h1>
        </li>
        <li class="toggle-toolbar"></li>
      </ul>
      <section>
   	    {% include menu.html %}
	      <ul class="right">
          <li class="nav-toolbar">
  		    {% if page.lang == 'da' %}
	  	      <a href="{{ site.baseurl }}/en/index.html" title="Engelsk version"><img
		           class="flag" src="{{ site.baseurl }}/assets/images/gb.png" alt="UK version"></a>
          {% else %}
            <a href="{{ site.baseurl }}/index.html" title="Danish version"><img
		          class="flag" src="{{ site.baseurl }}/assets/images/dk.png" alt="DK version"></a>
		      {% endif %}
          </li>
        </ul>
      </section>
    </nav>
	</div>

  <!-- hero image -->
  <div class="container">
    {% include banner.html %}
  </div>
</header>
