{{ define "main" }}

<h5>{{.Title}}</h5>

{{ $thelyrics := cond (eq (string .Language) "da") "tekster" "lyrics" }}


{{ range (sort .Site.Data.albums "year" "desc") }}
<div class="discography">
  <div class="cover"><img src="{{ .cover.small }}" alt="{{ .album }}"/><p class="lyrics"><a href="{{ $thelyrics }}.html#{{ .lyricsfragid }}">{{ $thelyrics }}</a></p></div>
  <div class="albuminfo">
    <p class="discinfo">
      <span class="artist">{{ .artist }}</span> //
      <span class="title">{{ .album }}</span> ({{ .year}}) <br />
      {{ .label.name }} // {{ .label.id }}
      {{ if .label.web }}
        <br />
        {{ $thetitle := cond (ne .label.webtitle "") .label.webtitle .label.web }}
        <a href="{{ .label.web }}">{{ $thetitle }}</a>
      {{ end }}
      {{ if and .label.web .label.email }} // {{ end }}
      {{ if .label.email }}
      <a href="mailto:{{ .label.email }}">{{ .label.email }}</a>
      {{ end }}
    </p>
    <p class="trackinfo"><span class="head">Tracklist:</span><br />
    {{ $trackSize := (len .tracklist)}}
    {{ range $index,$element := .tracklist }}
      {{ .title }}{{ if lt (add $index 1 ) $trackSize }} // {{ end }}
    {{ end }}
    </p>

    <p class="members"><span class="head">{{ .artist }}</span><br />
      {{ $crewSize := (len .crew) }}
      {{ range $index, $element := .crew }}
        {{ .name }} ({{ index .instrument (string page.Language) }})
        {{ if lt (add $index 1 ) $crewSize }} // {{ end }}
      {{ end }}
      {{ if .guests }}
      <strong><em>{{ if eq .lang "da" }}med{{ else }}with{{ end }}</em></strong><br>
      {{ $guestsSize := (len .guests) }}
      {{ range $index, $element := .guests }}
        {{ .name }} ({{ index .instrument (string page.Language) }})
        {{ if lt (add $index 1 ) $guestsSize }} // {{ end }}
      {{ end }}
      {{ end }}
    </p>
  </div>
</div>
{{ end }}

{{ end }}
