<header>
  <!-- top navigation bar -->
  <div class="container">
    <nav class="top-menu">
      <ul class="left">
        <li class="name">
	        <h1 class="newlogo"><a href="/index.html"><span class="newlogo">AGGERBÆK</span></a></h1>
        </li>
        <li class="toggle-toolbar"></li>
      </ul>
      <section>
        {{ $p := . }}
        <ul class="main-menu left">
          {{ with site.Menus.main }}
          {{ range . }}
            {{ $active := ($p.IsMenuCurrent "main" .) }}
            <li {{ if $active }}class="active"{{ end }}><a href="{{ site.BaseURL }}{{ .URL }}" title="">{{.Title | lower }}</a></li>
          {{ end }}
          {{ end }}
        </ul>

	      <ul class="right">
          <li class="nav-toolbar">
  		    {{ if eq .Lang "da" }}
	  	      <a href="/en/" title="Engelsk version"><img
		           class="flag" src="/images/gb.png" alt="UK version"></a>
          {{ else }}
            <a href="/" title="Danish version"><img
		          class="flag" src="/images/dk.png" alt="DK version"></a>
		      {{ end }}
          </li>
        </ul>
      </section>
    </nav>
	</div>

  <!-- hero image -->
  <div class="container">
    {{ partial "banner.html" . }}
  </div>
</header>
